{% extends 'shared/_MainLayout.html' %}
{% load render_partial %}
{% load thumbnail %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <section id="cart_items">
		                <div class="container">

                            {% if likes is not None  %}

                                <div class="features_items"><!--features_items-->

                                        {% for like in likes %}
                                           {% include 'products/product_item_component.html' with product=like %}
                                        {% endfor %}

                                </div><!--features_items-->

                            {% else %}
                                <div class="alert alert-warning">
                                    <p>لیست علاقه مندی های شما خالی است.</p>
                                </div>
                            {% endif %}
		                </div>
	            </section> <!--/#cart_items-->
            </div>
            <div class="col-md-4">
                {% render_partial 'e_shop_account.views.user_sidebar' %}
            </div>
        </div>
    </div>

{% endblock %}