
    <ul class="list-group userpanel">
        <li class="list-group-item">
            <a href="/user" class="btn btn-link">
                <i class="fa fa-user">
                    حساب کاربری
                </i>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/user/edit" class="btn btn-link">
                <i class="fa fa-edit">
                    ویرایش اطلاعات کاربر
                </i>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/user/edit_password" class="btn btn-link">
                <i class="fa fa-edit">
                    ویرایش کلمه عبور
                </i>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/user/user_likes" class="btn btn-link">
                <i class="fa fa-edit">
                   لیست علاقه مندی ها
                </i>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/log_out" class="btn btn-link">
                <i class="fa fa-sign-out">
                     خروج
                </i>
            </a>
        </li>
    </ul>

