{% load thumbnail %}
{% load humanize %}

<div class="col-sm-4 pull-right ">
    <div class="product-image-wrapper ">
        <div class="single-products ">
            <div class="productinfo text-center ">
                 {% thumbnail product.image "250x170" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.title }}"/>
                 {% endthumbnail %}
                <p>{{ product.title }}</p>
                <h4>{{ product.price|intcomma:False }} ریال</h4>


            </div>
            <div class="product-overlay">
                <div class="overlay-content">

                </div>

            </div>
        </div>
        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="{{ product.get_absolute_url }}"><i class="fa fa-plus-square"></i>مشاهده</a></li>

            </ul>
        </div>
    </div>
</div>